<center><h1>Intro to Data Structure</h1></center>

1. Series
    - Series is ndarray-like
    - Series is dict-like
    - Vectorized operations and label alignment with Series
    - Name attribute
2. DataFrame
    - From dict of Series or dicts
    - From dict of nuarrays / list
    - From structured or record array
    - From a list of dicts
    - From a list of tuple
    - From a Series
    - Alternate Constructors
    - Column selection, addition, deletion
    - assigning New Columns in Method Chairs
    - Indexing / Selection
    - Data alignment and arithmetic
    - Transposing
    - DataFrame interiperability with numpy functions
    - Console display
    - DataFrame column attribute access and ipython completion
3. Panel
4. Deprecate Panel
5. Panel4D or more

In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame()

In [7]:
data = np.zeros((2,), dtype=[('A', 'i4'), ('B', 'f4'), ('C', 'a10')])
data

array([(0,  0., b''), (0,  0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [8]:
data[:] = [(1,2,'hellp'),(2,3,'world')]

In [10]:
pd.Panel.

In [11]:
midx = pd.MultiIndex(levels=[['one', 'two'],['x', 'y']], labels=[[1,1,0,0],[1,0,1,0]])
dic = {
    'A': [1,2,3,4],
    'B': [5,6,7,8]
}
df = pd.DataFrame(dic, index=midx)
df

       A  B
two y  1  5
    x  2  6
one y  3  7
    x  4  8

In [12]:
pd.MultiIndex?